@font-face {
  font-family: KenvectorFuture;
  src: url('./../assets/fonts/kenvector_future.ttf');
}

@font-face {
  font-family: KenvectorFutureThin;
  src: url('./../assets/fonts/kenvector_future_thin.ttf');
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  text-align: center;
}

#game-container {
  margin: auto;
}

#game-container-header {
  font-family: 'KenvectorFuture', 'Arial';
}